administracao_publica_1994-06-30_ate_2023-01-31.xlsx filter=lfs diff=lfs merge=lfs -text
operacoes_indiretas_automaticas_2017-01-01_ate_2023-01-31.xlsx filter=lfs diff=lfs merge=lfs -text
naoautomaticas.xlsx filter=lfs diff=lfs merge=lfs -text
